  <!-- Footer Opacity Background -->
    <footer class="page-footer footerCharityOpacity">
      <div class="container">
        <div class="row">
          <div class="col l6 s12 row">
            <div class="row">
            </div>
            <div class="container valign-wrapper left">
            </div>
          </div>
          <div class="col l4 offset-l2 s12">
          </div>
        </div>
      </div>
    </footer>
  <!-- Footer Opacity Background -->

  <!-- Footer -->
    <footer class="page-footer transparent footerFront">
      <div class="container">
        <div class="row">
          {{!-- <div class="col l6 s12 row">
            <div class="row">
              <p class="charityText">Total amount raised for Charity:</p>
            </div>
            <div class="charityContainer container valign-wrapper left">
              <p>$123,456</p>
              <img src="../../public/resources/St.-Jude-Logo.png">
            </div>
          </div> --}}
          <div class="col  s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Artists</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Gallery</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Donate</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">North Oconee Highschool</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container center">
        <a class="grey-text text-lighten-4" href="#!">Developed by: Ankit Mudvari, Dean Warren, Isaiah Kelly, Steven Langlois, Joshua Stillion</a>
        </div>
      </div>
    </footer>
  <!-- Footer -->