  <!-- Footer Opacity Background -->
    <footer class="page-footer footerCharityOpacity">
      <div class="container">
        <div class="row">
          <div class="col l6 s12 row">
            <div class="row">
            </div>
            <div class="container valign-wrapper left">
            </div>
          </div>
          <div class="col l4 offset-l2 s12">
          </div>
        </div>
      </div>
    </footer>
  <!-- Footer Opacity Background -->

  <!-- Footer -->
    <footer class="page-footer transparent footerFront">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h5 class="white-text">Links</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="/artists">Artists</a></li>
              <li><a class="grey-text text-lighten-3" href="/gallery">Gallery</a></li>
              <li><a class="grey-text text-lighten-3" href="/donate">Donate</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.oconeeschools.org/nohs">North Oconee Highschool</a></li>
              <li><a class="grey-text text-lighten-3" href="/privacypolicy">Privacy Policy</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright grey darken-4">
        <div class="container center">
        <a class="grey-text text-lighten-4" href="#!">Developed by: Ankit Mudvari, Dean Warren, Isaiah Kelly, Steven Langlois, Joshua Stillion</a>
        </div>
      </div>
    </footer>
  <!-- Footer -->

<script>
  let backgroundCard = $(".cardOpacityBackground");
  let frontCard = $(".frontCard");
    let frontCardHeight = frontCard.css("height")
  //

  let backCharity = $(".footerCharityOpacity");
  let frontCharity = $(".footerFront");
    let frontCharityHeight = frontCharity.css("height");

  backgroundCard.css("height", frontCardHeight);
  backCharity.css("height", frontCharityHeight)

</script>