  <footer class="page-footer white">
      <div class="container footerText">
          <p><a href="/privacypolicy" class="navText">Privacy Policy</a> © 2020 by Ankit Mudvari, Isaiah Kelly, Joshua Stillion, Steven Langlois, and Dean Warren
          </p>
      </div>
  </footer>