  <nav class="backgroundNav hide-on-small-only"></nav> <!-- colors back of nav with lower opacity without ruining nav -->
  
  <!-- NavBar -->
    <nav style="position: relative;" class=" hide-on-small-only">
      <div class="nav-wrapper">
        <a href="/dashboard" class="SAGnav">Silent Auction Gallery</a>
        <ul id="" class="navList1 ">
          {{!-- <li><a href="/artists" class="navArt">Artists</a></li> --}}
          <li><a href="/gallery" class="navLink">Gallery</a></li>
          <li><a href="/donate" class="navLink">Donate</a></li>
        </ul>
        <a href="#" class="sidenav-trigger" data-target="mobile-nav"></a>
        <ul id="" class="navList2 hide-on-small-and-down">
          <li><a href="/profile" class="navProfile">
            Profile
            <span class="material-icons">account_circle</span>
          </a></li>
          <li><a href="/logout" class="navLogout ">
            Logout
            <span class="material-icons">exit_to_app</span>
          </a></li>
        </ul>
      </div>
    </nav>
  <!-- NavBar -->

  <!-- NavBar Mobile -->
<nav class="grey darken-4 hide-on-med-and-up">
	<div class="nav-wrapper">
		<a href="#" class="sidenav-trigger" data-target="mobile-nav">
			<i class="material-icons">menu</i>
		</a>
	</div>
</nav>


<ul class="sidenav" id="mobile-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Gallery</a></li>
			<li><a href="#">Donate</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Profile</a></li>
      <li><a href="#">Logout</a></li>
</ul>
  <!-- NavBar Mobile -->

  <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
  </script>