<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">

            </div>
            <img class="circle" style="text-align: center; margin-left:35%"
                src="https://avatars3.githubusercontent.com/u/61264828?s=460&u=85c3af334051baca42c09bd68c228ef867438da7&v=4">
            <a href="#name"><span class="white-text name">{{userInfo.first_name}} {{userInfo.last_name}}</span></a>
            <a href="#email"><span class="white-text email">{{userInfo.email}}</span></a>
        </div>
    </li>
    <li class="sidenavLinks">
        <div class="divider"></div>
    </li>
    <li class="sidenavLinks"><a href="/dahsboard"><i class="material-icons crazyLinks" style="color:black">home</i>Home</a></li>
    {{!-- <li class="sidenavLinks"><a href="/admin"><i class="material-icons" style="color:black">account_box</i>Admin</a>
    </li> --}}
    <li class="sidenavLinks"><a href="/profile"><i class="material-icons" style="color:black">account_box</i>Profile</a>
    </li>
    <li class="sidenavLinks"><a href="/gallery"><i class="material-icons" style="color:black">color_lens</i>Art
            Gallery</a>
    </li>
    <li class="sidenavLinks"><a href="/privacypolicy"><i class="material-icons" style="color:black">security</i>Privacy
            Policy</a></li>
    <li class="sidenavLinks"><a href="/donate"><i class="material-icons" style="color:black">payment</i>Donate/Bid</a>
    </li>

    <li class="sidenavLinks"><a href="/logout"><i class="material-icons"
                style="color:black">power_settings_new</i>Logout</a></li>

</ul>


<div class="w3-main">

    <div class="w3-teal" id="headerBg">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"
                style="color:black">menu</i></a>
        <div class="w3-container">
            <h1 class="headerText">Silent Auction Gallery</h1>
        </div>


    </div>
</div>

<div class="header" id="secondNavBar">
    <a href="/" class="logo">S.A.G</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        {{!-- <a href="/admin">Admin</a> --}}
        <a href="/donate">Donate/Bid</a>
        <a href="/privacypolicy">Privacy Policy</a>
        <a href="#about">About Us</a>
        <a href="/logout">Log Out</a>
    </div>
</div>