<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>DONATION FORM</h2>
                <p>~~~~~Give me all your money~~~~~</p>
            </div>
        </div>
    </div>
</div>
