<ul id="slide-out" class="sidenav sidenav-fixed">
    <li>
        <div class="user-view">
            <div class="background">

            </div>
            <img class="circle" style="text-align: center; margin-left:35%"
                src="https://avatars3.githubusercontent.com/u/61264828?s=460&u=85c3af334051baca42c09bd68c228ef867438da7&v=4">
            <a href="#name"><span class="white-text name">{{userInfo.first_name}} {{userInfo.last_name}}</span></a>
            <a href="#email"><span class="white-text email">{{userInfo.email}}</span></a>
        </div>
    </li>
    <li class="sidenavLinks">
        <div class="divider"></div>
    </li>
    <li class="sidenavLinks"><a href="/"><i class="material-icons crazyLinks" style="color:black">home</i>Home</a></li>
    <li class="sidenavLinks"><a href="/profile"><i class="material-icons" style="color:black">account_box</i>Profile</a>
    </li>
        <li class="sidenavLinks"><a href="/gallery"><i class="material-icons" style="color:black">color_lens</i>Art Gallery</a>
    </li>
    <li class="sidenavLinks"><a href="/privacypolicy"><i class="material-icons" style="color:black">security</i>Privacy
            Policy</a></li>
    <li class="sidenavLinks"><a href="/donate"><i class="material-icons" style="color:black">payment</i>Donate/Bid</a>
    </li>
    
    <li class="sidenavLinks"><a href="/logout"><i class="material-icons"
                style="color:black">power_settings_new</i>Logout</a></li>

</ul>


<div class="w3-main">

    <div class="w3-teal" id="headerBg">
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons"
                style="color:black">menu</i></a>
        <div class="w3-container">
            <h1 class="headerText">Silent Auction Gallery</h1>
        </div>


    </div>
</div>

<div class="header" id="secondNavBar">
    <a href="/" class="logo">S.A.G</a>
    <div class="header-right">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/donate">Donate/Bid</a>
        <a href="/profile">Privacy Policy</a>
        <a href="#about">About Us</a>
        <a href="/logout">Log Out</a>
    </div>
</div>

<div class="container" id="mainContent2">
    <div class="card" id="profilePageCard" style="width: 90%; margin-left:12%">
        <div class="donateBody">
<div class="row">
    <div class="col s12 m12 l12">
        <div class="card" id="donateCard">

            <div class="card-content">
                <h2>Donate Today</h2>
            </div>
            <div class="card-action">

                <form action="#">
                    <p>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>$20</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" />
                            <span>$10</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>$5</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" />
                            <span>$1</span>
                        </label>
                    </p>
                     <p>
                        <label>
                            <input name="group1" type="radio" />
                            <span>Other</span>
                        </label>
                    </p>
                </form>
            </div>
            <div class="card-action">
                <div class="switch reoccuringSwitch">
    <label>
      Onetime
      <input type="checkbox">
      <span class="lever"></span>
      Monthly
    </label>
  </div>
  <p class="changeRecurringText">You can login to edit your recurring donation anytime</p>
            </div>
                <div class="card-action">
            <a class="waves-effect waves-light btn red darken-4 donateButton">Next</a>
        </div>
        
    </div>
</div>
</div>
</div>
    </div>
</div>