{{> header }}
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>THIS IS MY MAIN DASHBOARD</h2>
        <div>
          <ul id="nav-mobile">
            <li><a href="Login">Login</a></li>
            <li><a href="Signup">Sign Up</a></li>
            <li><a href="Donate">Donate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
